html, body {
    height: 100%;
}


/* Wrapper for page content to push down footer */
#page-wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -160px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 160px;
}

footer {
    background-color: rgb(246,246,242);
    border-top: 1px solid lightgray;
}

#footer h4 {
    text-decoration: underline;
}

#main-wrapper {
    font-size: 1.4em;
    line-height: 1.6em;
}


#main blockquote {
    margin-top: 40px;
}

#main-wrapper {
    margin-bottom: 20px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* using icomoon.io/app */
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.woff') format('woff'),
        url('../fonts/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-github, .icon-twitter, .icon-linkedin, .icon-google-plus, .icon-facebook {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-github:before {
	content: "\e000";
}
.icon-twitter:before {
	content: "\e004";
}
.icon-linkedin:before {
	content: "\e001";
}
.icon-google-plus:before {
	content: "\e005";
}
.icon-facebook:before {
	content: "\e002";
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: 'Hammersmith One', sans-serif;
}


#follow-me-icons a {
    text-decoration: none;
    font-size: 32px;
    color: lightgray;
}

#follow-me-icons a:hover {
    color: black;
}


#main h2:after,
#main h3:after,
#main h4:after {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	bottom: 0;
	width: 5px;
	border-radius: 2px;
}
#main h2:after { background: rgb(0, 136, 204); }
#main h3:after { background: #3BF; }
#main h4:after { background: #6Cf; }


#main h2,
#main h3,
#main h4 {
	margin: 1em 0 .6em 0;
	padding: 0 0 0 20px;
	font-weight: normal;
	position: relative;
}
