html, body {
    height: 100%;
}


/* Wrapper for page content to push down footer */
#page-wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -160px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 160px;
}

footer {
    background-color: rgb(246,246,242);
    border-top: 1px solid lightgray;
}

#footer h4 {
    text-decoration: underline;
}

#main-wrapper {
    font-size: 1.4em;
    line-height: 1.6em;
}


#main blockquote {
    margin-top: 40px;
}

#main-wrapper {
    margin-bottom: 20px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: 'Hammersmith One', sans-serif;
}


#follow-me-icons a {
    text-decoration: none;
    font-size: 32px;
    color: lightgray;
}

#follow-me-icons a:hover {
    color: black;
}


#main h2:after,
#main h3:after,
#main h4:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    border-radius: 2px;
}

#main h2:after { background: rgb(0, 136, 204); }
#main h3:after { background: #3BF; }
#main h4:after { background: #6Cf; }


#main h2,
#main h3,
#main h4 {
    margin: 1em 0 .6em 0;
    padding: 0 0 0 20px;
    font-weight: normal;
    position: relative;
}


#main .projects .span3 {
    font-size: 0.9em;
    line-height: 1.4em;
}

#main .projects .span3:not(:last-child) {
    border-right: 1px solid gray;
}

#main a.external:after {
    font-family: 'icomoon';
    font-size: 0.7em;
    content: "\f08e";
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    padding-left: 5px;
}

a.tag {
    white-space: nowrap;
    padding: 3px;
}

a.tag:before {
    font-family: 'icomoon';
    /* font-size: 0.7em; */
    content: "\f02b";
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-right: 4px;
}

