<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="{{ resource.meta.charset }}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{{ resource.meta.title|e }} | {{ resource.meta.author|e }} {% endblock %}</title>
        <meta name="description" content="{{ resource.meta.description }}">
        <meta name="viewport" content="width=device-width">

	{% block css %}
	<link rel="stylesheet" href="{{ media_url('css/bootstrap.min.css') }}">
        <style>
	  html, body {
	     height: 100%;
	  }

      /* Wrapper for page content to push down footer */
      #page-wrapper {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -140px;
      }

	  /* Set the fixed height of the footer here */
	  #push,
	  #footer {
          height: 140px;
	  }

	  #footer {
          background-color: #f5f5f5;
	  }

	  #main-content {
	  padding: 0px 7px;
	  border-right: 1px solid #f5f5f5;
	  }

	  #main-wrapper {
	  margin-bottom: 20px;
	  }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
        </style>

        <link rel="stylesheet" href="{{ media_url('css/bootstrap-responsive.min.css') }}">
        <link rel="stylesheet" href="{{ media_url('css/main.css') }}">
	<link rel="stylesheet" type="text/css" href="http://cloud.github.com/downloads/lafeber/world-flags-sprite/flags16.css" />
	{% endblock css %}

	{% block topjs %}
        <script src="{{ media_url('js/vendor/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>
	{% endblock topjs %}
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
            <![endif]-->

	<div id="page-wrapper">

	  <div class="navbar">
	    <div class="navbar-inner">
	      <ul class="nav pull-right">

		<li class="divider-vertical"></li>
		{# Translation module #}
		<li class="dropdown f16">
		  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ languages[resource.meta.language] }} <span class="flag {{ resource.meta.language }}"></span> <b class="caret"></b></a>
		  <ul class="dropdown-menu">
		    {% for translation in resource.translations %}
		    <li><a href="{{ content_url(translation.url) }}">{{ languages[translation.meta.language] }} <span class="flag {{ translation.meta.language }}"></span></a></li>
		    {% endfor %}
		  </ul>
		</li>

		<li class="divider-vertical"></li>
	      </ul>
	    </div>
	  </div><!-- end navbar -->

	  <div id="main-wrapper">
	    <div class="container">
	      <header>
		<ul class="nav nav-pills pull-right">
		  {# Menu generation #}
		  {% for menu in resource.meta.menu %}
		  <li{% if content_url(resource.url).startswith(content_url(resource.meta.language + '/' + menu['page'])) %} class="active"{% endif %}><a href="{{ content_url(resource.meta.language + '/' + menu['page']) }}">{{ menu['name']|e }}</a>
		  </li>
		  {% endfor %}
		</ul>
		<h1>Guillaume Dedrie</h1>
	      </header>

	      <hr />

	      <div class="row-fluid">
		<div id="main-content" class="span9">
		  {% block main %}{% endblock main %}
		</div><!-- end span9 -->


		<div id="sidebar" class="span3">
		  <div id="search">
		    <h4>Rechercher sur ce site</h4>
		    <form class="form-search">
		      <div class="input-append">
			<input type="text" class="span8 search-query">
			<button type="submit" class="btn">{{ resource.meta.l10n.search|e }}</button>
		      </div>
		    </form>
		  </div><!-- end #search -->
		  <hr />

		</div><!-- end span3 -->
	      </div><!-- end sidebar -->
	    </div><!-- end container -->
	    <div id="push"></div>
	  </div><!-- end main-wrapper -->
	</div><!-- end page-wrapper -->

        <footer id="footer">
	  <div class="container text-center">
	    <div class="row-fluid">
	      <div class="span8">
		<h4>{{ resource.meta.l10n.about_this_site|e }}</h4>
		<div class="row-fluid">
		  <div id="licence" class="span6">
		    {{ resource.meta.l10n.licence }}
		  </div><!-- end #licence -->

		  <div class="span6">
		    <p>{{ resource.meta.l10n.powered_using|e }} <a href="http://ringce.com/hyde">Hyde</a>, <a href="http://www.initializr.com/"> Initializr</a> (<a href="http://twitter.github.io/bootstrap/">Bootstrap</a>, <a href="http://modernizr.com/">Modernizr</a>, <a href="http://jquery.com/">jQuery</a>, ...).</p>
		    <p>{{ resource.meta.l10n.source_available|e }} <a href="https://github.com/">GitHub</a> : <a href="https://github.com/guillaumededrie/guillaume.dedrie.fr">site</a> / <a href="https://github.com/guillaumededrie/guillaume.dedrie.fr/tree/master/content{{ content_url(resource.url) }}">page</a>.</p>
		  </div>
		</div>
	      </div><!-- end .span4 -->
	      <div class="span4">
		<h4>{{ resource.meta.l10n.follow_me|e }}</h4>
	      </div><!-- end .span8 -->
	    </div><!-- end .row-fluid -->
	  </div><!-- end .container -->
        </footer>

	{% block bottomjs %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ media_url('js/vendor/jquery-1.9.1.min.js') }}"><\/script>')</script>

        <script src="{{ media_url('js/vendor/bootstrap.min.js') }}"></script>

        <script src="{{ media_url('js/plugins.js') }}"></script>
        <script src="{{ media_url('js/main.js') }}"></script>

	<!--
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
	-->
        {% endblock bottomjs %}

    </body>
</html>
