<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="{{ resource.meta.charset }}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{{ resource.meta.title|e }} | {{ resource.meta.author|e }} {% endblock %}</title>
        <meta name="description" content="{{ resource.meta.description }}">
        <meta name="viewport" content="width=device-width">

	{% block css -%}
	<link rel="stylesheet" href="{{ media_url('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ media_url('css/bootstrap-responsive.min.css') }}">
        <link rel="stylesheet" href="{{ media_url('css/icomoon/style.css') }}">
        <link rel="stylesheet" href="{{ media_url('css/main.css') }}">
	<link rel="stylesheet" type="text/css" href="http://cloud.github.com/downloads/lafeber/world-flags-sprite/flags16.css" />
	{%- endblock css %}

	{% block topjs -%}
        <script src="{{ media_url('js/vendor/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>
	{% endblock topjs -%}
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
            <![endif]-->

	<div id="page-wrapper">
	  <div class="navbar">
	    <div class="navbar-inner">
	      <form class="navbar-search pull-left">
	        <input type="text" class="search-query" placeholder="Search on this site">
              </form>

	      <ul class="nav pull-right">
		{% if resource.meta.language -%}
		<li class="divider-vertical"></li>
		{# Translation module #}
		{%- macro render_language_li(lang) -%}{{ languages[lang] }} <span class="flag {{ lang if lang != "en" else "gb"  }}"></span> {%- endmacro -%}
		<li class="dropdown f16">
		  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ render_language_li(resource.meta.language) }} <b class="caret"></b></a>
		  <ul class="dropdown-menu">
		    {% for translation in resource.translations -%}
		    <li><a href="{{ content_url(translation.url) }}">{{ render_language_li(translation.meta.language) }}</a></li>
		    {% else -%}
		    <li class="disabled"><a href="#">No other languages available</a></li>
		    {% endfor -%}
		  </ul>
		</li>
                {% endif -%}
		<li class="divider-vertical"></li>
	      </ul>
	    </div><!-- /.navbar-inner -->
	  </div><!-- /.navbar -->


	  <div id="main-wrapper">
	    <div class="container">
	      <header>
		<ul class="nav nav-pills pull-right">
		  {# Menu generation -#}
		  {% for menu in resource.meta.menu -%}
		  <li{% if content_url(resource.url).startswith(content_url(resource.meta.language + '/' + menu['page'])) %} class="active"{% endif %}><a href="{{ content_url(resource.meta.language + '/' + menu['page']) }}">{{ menu['name']|e }}</a></li>
		  {% endfor -%}
		</ul>
		<h1>Guillaume Dedrie</h1>
	      </header>

	      <hr />

	      <div id="main">
		{% block main -%}{%- endblock main %}
	      </div><!-- /#main -->
	    </div><!-- /.container -->
	  </div><!-- /#main-wrapper -->
	  <div id="push"></div>
	</div><!-- /#page-wrapper -->


        <footer id="footer">
	  <div class="container">	    
	    <div class="row-fluid text-center">
	      <div class="span9">
		<h4>{{ resource.meta.l10n.about_this_site|e }}</h4>
		<div class="row-fluid">
		  <div id="licence" class="span6">
		    {{ resource.meta.l10n.licence }}
		  </div><!-- /#licence -->

		  <div class="span6">
		    <p>{{ resource.meta.l10n.powered_using|e }} <a href="http://ringce.com/hyde">Hyde</a>, <a href="http://www.initializr.com/">Initializr</a>.</p>
		    <p>{{ resource.meta.l10n.source_available|e }} <a href="https://github.com/">GitHub</a> (<a href="https://github.com/guillaumededrie/guillaume.dedrie.fr">site</a> / <a href="https://github.com/guillaumededrie/guillaume.dedrie.fr/tree/master/content{{ content_url(resource.url) }}">page</a>).</p>
		    <p>Validators : <a aria-hidden="true" data-icon="&#xe006;" href="http://validator.w3.org/check?uri=referer"></a> <a aria-hidden="true" data-icon="&#xe007;" href="http://jigsaw.w3.org/css-validator/check?uri=referer"></a></p>
		  </div>
		</div>
	      </div><!-- /.span9 -->
	      <div class="span3">
		<h4>{{ resource.meta.l10n.follow_me|e }}</h4>
		<ul id="follow-me-icons" class="inline">
		  <li><a aria-hidden="true" data-icon="&#xf09b;" data-toggle="tooltip" title="GitHub" href="https://github.com/guillaumededrie"></a></li>
		  <li><a aria-hidden="true" data-icon="&#xe004;" data-toggle="tooltip" title="Twitter" href="https://twitter.com/guillaumededrie"></a></li>
		  <li><a aria-hidden="true" data-icon="&#xe001;" data-toggle="tooltip" title="LinkedIn" href="http://www.linkedin.com/in/guillaumededrie"></a></li>
		  <li><a aria-hidden="true" data-icon="&#xe005;" data-toggle="tooltip" title="Google+" href="https://plus.google.com/103829955487321782441"></a></li>
		  <li><a aria-hidden="true" data-icon="&#xe002;" data-toggle="tooltip" title="Facebook" href="https://www.facebook.com/guillaume.dedrie"></a></li>
		</ul>
	      </div><!-- /.span3 -->
	    </div><!-- /.row-fluid -->
	    <div id="legal-informations" class="row-fluid text-center">
		2013 / Guillaume Dedrie
	    </div><!-- /.row-fluid -->
	  </div><!-- /.container -->
        </footer>


	{% block bottomjs -%}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ media_url('js/vendor/jquery-1.9.1.min.js') }}"><\/script>')</script>

        <script src="{{ media_url('js/vendor/bootstrap.min.js') }}"></script>

        <script src="{{ media_url('js/plugins.js') }}"></script>
        <script src="{{ media_url('js/main.js') }}"></script>

	<!--
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
	-->
        {% endblock bottomjs -%}
    </body>
</html>
