{% extends "base.j2" %}
{% from "macros.j2" import render_tag with context %}   

{% block main %}
<div class="row-fluid">
  <div class="span9">
    {% block main_blog -%}{%- endblock main_blog %}
  </div><!-- /.span9 -->
  <div class="span3">
    <h3><span data-icon="&#xf02c;"></span> Tags</h3>
    {% for tag, meta in site.tagger.tags -%}{{ render_tag(tag, (meta.resources|length)) }} {% endfor %}
  </div><!-- /.span3 -->  
</div><!-- /.row-fluid -->
{% endblock main %}
