{% extends "base_blog.j2" %}

{% block main_blog -%}
<ul class="pager">
  <li class="previous"><a href="{{ content_url(resource.meta.language + "/blog/") }}">&larr; Retour</a></li>
</ul>

<h2>{{ resource.meta.title|e }}</h2>
<span class="muted"><small><span data-icon="&#xf073;"></span> {{ resource.meta.created.strftime('%Y-%m-%d') }} | <span data-icon="&#xf02c;"></span> Tags : {% for tag in resource.meta.tags %}{{ render_tag(tag) }} {% endfor %}</small></span>
<hr />


{% block main_article -%}{%- endblock main_article %}
{%- endblock main_blog %}
