{% extends "base.j2" %}
{% from "macros.j2" import render_article_infos with context %}   
{% set prev = resource.prev_by_time %}
{% set next = resource.next_by_time %}

{% macro render_article_pager() -%}
<ul class="pager">
  {% if prev %}
  <li class="previous"><a href="{{ content_url(prev.url) }}">&larr; {{ prev.meta.title|truncate(10, True) }}</a></li>
  {% endif %}
  <li><a href="{{ content_url(resource.meta.language + '/blog/') }}">&uarr; {{ resource.meta.l10n.go_back_to_the_articles|e }} &uarr;</a></li>
  {% if next %}
  <li class="next"><a href="{{ content_url(next.url) }}">{{ next.meta.title|truncate(10, True) }} &rarr;</a></li>
  {% endif %}
</ul>
{%- endmacro %}


{% block main -%}
{{ render_article_pager() }}
<h2>{{ resource.meta.title|e }}</h2>

<div class="muted text-center">
  {{ render_article_infos(resource) }}
</div>

<div id="main_article">
{% block main_article -%}{%- endblock main_article %}
</div><!-- /#main_article -->

{{ render_article_pager() }}
{%- endblock main %}
