{% macro render_tag(tagname, number_articles = '') -%}
<a class="tag label label-info" href="{{ content_url(resource.meta.language + "/blog/tag/" + tagname + ".html") }}">{{ tagname }} {% if number_articles %}({{ number_articles }}){% endif %}</a>
{%- endmacro %}

{% macro render_article_infos(article) -%}
<span data-icon="&#xf073;"></span> {{ article.meta.created.strftime('%Y-%m-%d') }} | <span data-icon="&#xf02c;"></span> Tags : {% for tag in article.meta.tags %}{{ render_tag(tag) }} {% endfor %} | <span data-icon="&#xe000;"></span> <a href="http://guillaume.dedrie.fr">Guillaume Dedrie</a>
{%- endmacro %}