---
extends: base.j2
default_block: main
title: Blog
description: Mon Blog en cours de construction.
---

{% for node in resource.node.child_nodes|sort(attribute="name", reverse=True) %}
<h2>{{ node.name }}</h2>
{% for article in node.walk_resources_sorted_by_time() %}
<article>
  <h3><a href="{{ content_url(article.url) }}">{{ article.meta.title }}</a> | <small><span data-icon="&#xf02c;"></span> Tags : {% for tag in article.meta.tags %} <a class="tag" href="#">{{ tag }}</a> {% endfor %}</small></h3>
</article>
{% endfor %}
{% endfor %}
